/*CSS document*/

div.container {
    max-width: 80em;
    margin: 0 auto;
}
body {
    
    background-color: #fffefb;
    font-family: "interstate", sans-serif;
    font-weight: 400;
    font-style: normal;
}
section {
    margin: 0 auto 3em;
}


nav{
    font-family: "interstate", sans-serif;
    font-weight: 500;
    font-style: normal;
     color: #274C77;
        border-bottom: 3px solid #274C77;
    margin-bottom: 1em;
    
}
nav li a {
    display: inline-block;
}
nav ul li {
    display: inline;
    padding: 0 1em;
}

a {
    text-decoration: none;
    color: #274C77;
}
a:hover { 
  color: #A3CEF1;
}



h1 {
    width: 12em;
}
h2 {
    font-family: "interstate", sans-serif;
font-weight: 500;
font-style: normal;
    color: #000000;
}
h3 {
font-family: "interstate", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    }
h4 {
    font-family: "interstate", sans-serif;
    font-weight: 400;
    font-style: italic;
}
h5 {
    font-family: "interstate", sans-serif;
    font-weight: 300;
    font-style: italic;
    color:#ba9061;
}

footer {
font-family: "interstate", sans-serif;
    font-weight: 350;
    font-style: normal;
    background-color: #274C77;
    padding: 1em;
    }
footer ul li a {
    color: #fffefb;}
footer ul li{
    list-style-type: none;
}
footer ul {
    padding: 0;
}

.white_text{
    color: #fffefb;
}


.Sh1{
        font-family: "gitan-latin", sans-serif;
font-weight: 400;
font-style: normal;
   color:#ba9061;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    padding: 2em, 0em;
}
section {
    padding: 2em, 0em;
}





ul {
    list-style-type: none;
    padding: 0;
}

@media screen and (min-width: 60em){
    
    div.container {
        display: grid;
        grid-template-columns: 4fr 0.8fr;
        grid-column-gap: 1em;
        background-color: ;
    }
  

    header{
        grid-column: 1/3;
    }
    main {
        grid-column: 1/2;
        display: inline-grid;
        grid-template-columns: 1fr 3fr;
        margin: 0;
        grid-column-gap: 1em;
    }
    .mainstory{
        grid-column: 2/3;
        grid-row: 1/3;
    }
    section.secondary {
        grid-column: 1/2;
        
    }
    aside {
        grid-column: 2/3;
        display: block;
    }
    footer {
        grid-column: 1/3;
    }