/*CSS document*/

div.container {
    max-width: 40em;
    margin: auto;
}
body {
    
    background-color: #fffefb;
    font-family: "interstate", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

nav{
    font-family: "interstate", sans-serif;
    font-weight: 500;
    font-style: normal;
     color: #274C77;
        border-bottom: 3px solid #274C77;
    
}
nav li a {
    display: inline-block;
}


a {
    text-decoration: none;
    color: #274C77;
}
a:hover { 
  color: #A3CEF1;
}

h1 {
    width: 12em;
}
h2 {
    font-family: "interstate", sans-serif;
font-weight: 500;
font-style: normal;
    color: #000000;
    
}
h3 {
font-family: "interstate", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    }
h4 {
    font-family: "interstate", sans-serif;
    font-weight: 400;
    font-style: italic;
}
h5 {
    font-family: "interstate", sans-serif;
    font-weight: 300;
    font-style: italic;
    color:#ba9061;
}

footer {
font-family: "interstate", sans-serif;
    font-weight: 350;
    font-style: normal;
    background-color: #274C77;
    padding: 1em;
    }
footer ul li a {
   color: #fffefb;

    
}

.white_text{
    color: #fffefb;
}


.Sh1{
        font-family: "gitan-latin", sans-serif;
font-weight: 400;
font-style: normal;
   color:#ba9061;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    padding: 2em, 0em;
}
section {
    padding: 2em, 0em;
}

ul {
    list-style-type: none;
    padding: 0;
}