/*CSS DOCUMENT */


body {
	background-color: #fafafa;
	color: #333333;
	font-family: "garamond-premier-pro", serif;
    margin-bottom: 400px;
}

div.container {
	max-width: 40em;
	margin: auto;
}

img {
	width: 100%;
}

figure {
	margin: 1em 0;
}

h1, h2, h3, h4, p, ul, ol, li {
	margin: 0; 
	padding:0; 
	font-size: 1em; 
	font-weight: normal;
}

h1 {font-size: 60px;
	font-family: "montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 1em;
}

h2 {font-size: 30px;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1em;
}

h3 {
	font-size: 20px;
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1em;
}
p {
    margin-bottom: 3em;
}
figcaption {
    color:#929fa1;
    font-family: "montserrat", sans-serif;
font-weight: 400;
font-style: italic;
margin-left: 0.3em;
margin-bottom: 0.5em;
    
}
.xtra_space {
    margin-bottom: 4em
}
.dark_ice {
    color:#929fa1;
}
